@page
@model TRAILES.Pages.EventAttendances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <form method="post">
        <input type="hidden" />
        <input type="submit" value="Schedule" class="btn btn-primary" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventAttendance[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventAttendance[0].Assigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventAttendance[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventAttendance[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventAttendance[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventAttendance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @{var name = item.Student.Lname + ", " + item.Student.Fname;}
                @Html.DisplayFor(modelItem => name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventAttendanceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventAttendanceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventAttendanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
